.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title > div:first-child,
.title > div:last-child {
    font-style: normal;
    font-size: 24px;
}

.title > div:last-child {
    font-weight: 500;
    color: #ABABAB;
}