.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 20px;
}

.problem {
    align-self: flex-start;
    color:rgba(0, 0, 0, 0.5);
}

.mood {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #000;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
}

.inputs * {
    width: 100%;
}

.submit {
    align-self: center;
    padding: 20px;
    width: 70%;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #4E87DF;
    border-radius: 32px;
}