body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  transition: .3s;
  width: 100%;
  height: 100%;
}

.page-enter {
  position: absolute;
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  position: absolute;
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
}

.app-wrapper {
  position: absolute;
  transition: .3s;
  width: 100vw;
  height: 100vh;
}

.app-wrapper-enter {
  opacity: 0;
}

.app-wrapper-enter-active {
  opacity: 1;
}

.app-wrapper-exit {
  opacity: 1;
}

.app-wrapper-exit-active {
  opacity: 0;
}


.section {
  transition: .3s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.section-enter {
  opacity: 0;
}

.section-enter-active {
  opacity: 1;
}

.section-exit {
  opacity: 1;
}

.section-exit-active {
  opacity: 0;
}