body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page,
.app-wrapper {
  transition: .3s;
  position: absolute;
}

.page-enter,
.app-wrapper-enter {
  opacity: 0;
}

.page-enter-active,
.app-wrapper-enter-active {
  opacity: 1;
}

.page-exit,
.app-wrapper-exit {
  opacity: 1;
}

.page-exit-active,
.app-wrapper-exit-active {
  opacity: 0;
}
