.icon {
    cursor: pointer;
}

.icon svg path {
    transition: .2s;
}

.icon.green svg path {
    stroke: #0BCB35;
}

.icon.green svg path:nth-child(2),
.icon.green svg path:nth-child(3) {
    fill: #0BCB35;
}

.icon.orange svg path {
    stroke: #F9B042;
}

.icon.orange svg path:nth-child(4),
.icon.orange svg path:nth-child(3) {
    fill: #F9B042;
}

.icon.red svg path {
    stroke: #FF2020;
}

.icon.red svg path:nth-child(5),
.icon.red svg path:nth-child(4) {
    fill: #FF2020;
}

.hider {
    display: none;
}