.wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
}

.ava {
    width: 50px;
    height: 50px;
    background: cornflowerblue;
    border-radius: 25px;
}

.userData {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userData > div:first-child {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.userData > div:last-child {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #9B9B9B;
}