.formControl textarea::placeholder,
.formControl input::placeholder {
    color: #000;
}

.formControl textarea,
.formControl input {
    border: solid 1px rgba(0, 0, 0, 0.5);
    padding: 25px 44px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: .2s;
    outline: none;
    font-size: 16px;
    position: relative;
}

.formControl input::placeholder {
    color: #fff;
}

.formControl textarea:focus,
.formControl input:focus {
    border-color: hsl(210, 50%, 50%) !important;
}

.formControl.error textarea,
.formControl.error input {
    border: solid 2px red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid 2px red;
    padding: 10px;
    color: red;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 44px;
    transform: translate(0, -50%);
}

.placeholder.inactive {
    top: 0;
    transform: translate(0, -50%);
    padding: 20px;
    background: white;
}

.controlWrapper {
    position: relative;
}