.links {
    width: 100%;
    position: relative;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
}

.link {
    z-index: 2;
}

.floatingElem {
    width: calc(100% / 3);
    height: 100%;
    position: absolute;
    background: red;
    z-index: 1;
    transition: .3s;
}