.links {
    width: 100%;
    position: relative;
    display: grid;
    background: #C4C4C4;
    border-radius: 8px;
}

.link {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

}

.floatingElem {
    height: 100%;
    position: absolute;
    background: #1372E9;
    z-index: 1;
    transition: .3s;
    border-radius: 8px;
}